section.about(style="background-image: url(assets/img/company/company-bg.jpg)")

  .container

    .about__wrap

      .about__col

        .about__img
          img(src="assets/img/company/company.jpg", alt="Наша компания")

      .about__col

        .about__block

          img(src="assets/img/company/company-logo.png", alt="Логотип" class="about__logo")

          .title.about__title Первая заборная компания

          .about__content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et&nbsp;viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et&nbsp;viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.

        a(href="#").btn.btn--big.about__btn
          img(src="assets/img/company/quotes.svg", alt="#")
          span Посмотреть отзывы о нашей работе