section.about
  .work__triangle.work__triangle--top.about__triangle

  .container

    .about__wrap

      .about__col

        .about__img
          img(src="assets/img/company/company.jpg", alt="Наша компания")

      .about__col

        .about__block

          .title.about__title.about__title_default Первая заборная компания

          .about__content.about__content_default
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et&nbsp;viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et&nbsp;viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.