section.calculate

  .calculate__triangle

  .container

    .title.calculate__title Рассчитать стоимость забора с&nbsp;помощью онлайн калькулятора

    
    .calculate__wrap

      .calculate__block

        .calculate__img

          .calculate__subtitle Укажите расстояния<br>участка в метрах

          img(src="assets/img/calculate/house.png", alt="Дом" class="calculate__house")

          input(type="text" placeholder="0" class="calculate__input-text calculate__input-text--top js-number")
          input(type="text" placeholder="0" class="calculate__input-text calculate__input-text--left js-number")
          input(type="text" placeholder="0" class="calculate__input-text calculate__input-text--right js-number")
          input(type="text" placeholder="0" class="calculate__input-text calculate__input-text--bottom js-number")

        .calculate__btns

          a(href="#modal-2").btn.btn--yellow.btn--big.js-popup
            img(src="assets/img/calculate/zabor.svg", alt="")
            span Заказать забор

          a(href="#modal-1").btn.btn--green.btn--big.js-popup
            img(src="assets/img/calculate/call.svg", alt="")
            span Вызвать замерщика


      form.calculate__form

        .calculate__form-calc
          label.calculate__label
            span.calculate__label-span
              img(src="assets/img/calculate/vid.svg", alt="")
              | Вид забора

            select(name="" class="js-select calculate__select js-view-zabor")
              option(value="rab") Забор ищ сетки "Рабица"
              option(value="prof") Забор из профнастила

          label.calculate__label
            span.calculate__label-span
              img(src="assets/img/calculate/height.svg", alt="")
              | Высота забора

            select(name="" class="js-select calculate__select" id="rab")
              option(value="1.5") 1,5 м
              option(value="1.8") 1,8 м
              option(value="2") 2 м
              option(value="2.5") 2,5 м

            //- select(name="" class="js-select calculate__select" id="prof")
            //-   option(value="1.5") 1,5 м
            //-   option(value="1.8") 2 м

          label.calculate__label
            span.calculate__label-span
              img(src="assets/img/calculate/amount.svg", alt="")
              | Количество ворот

            select(name="" class="js-select calculate__select")
              option(value="0") 0
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
          label.calculate__label
            span.calculate__label-span
              img(src="assets/img/calculate/sum.svg", alt="")
              | Количество калиток

            select(name="" class="js-select calculate__select")
              option(value="0") 0
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4

          .calculate__cost

            .calculate__cost-text

              img(src="assets/img/calculate/pocket.svg", alt="")

              span Предварительная<br>стоимость: 

            .calculate__cost-sum 
              | 5800
              span руб