section.certificate(style='background-image: url(assets/img/request/bg-request.jpg)')

  .container

    .certificate__wrapper

      .title.certificate__title У&nbsp;нашей компании есть все необходимые лицензии и&nbsp;сертификаты на&nbsp;проведение работ

      .swiper-container.js-photo-slider
        .swiper-wrapper.certificate__items

          a(href="assets/img/certificate.png").certificate__item.js-popup-img.swiper-slide
            img(src="assets/img/certificate.png", alt="Сертификат")
          a(href="assets/img/certificate.png").certificate__item.active.js-popup-img.swiper-slide
            img(src="assets/img/certificate.png", alt="Сертификат")
          a(href="assets/img/certificate.png").certificate__item.js-popup-img.swiper-slide
            img(src="assets/img/certificate.png", alt="Сертификат")