section.constructor.constructor_second

  .container

    .title.constructor__title.constructor__title_second Смотрите советы от экспертов<br>по выбору заборов

    .constructor__items

        .constructor__col

          a(href="#").constructor__item

            .constructor__triangle

            .constructor__img
              img(src=`assets/img/constructor/icon-3.png`, alt=`icon`)

            span.constructor__block
              span.constructor__text Как выбрать забор для дачи?
              span.constructor__subtitle Советы экспертов

        .constructor__col

          a(href="#").constructor__item

            .constructor__triangle

            .constructor__img
              img(src=`assets/img/constructor/icon-4.png`, alt=`icon`)
            span.constructor__block
              span.constructor__text Народный выбор
              span.constructor__subtitle Независимые рейтинги
            span.constructor__arrow
              img(src="assets/img/products/arrow-products.svg", alt="arrow")