.info-block

  .work__triangle.work__triangle--bot

  .container

    .title.info-block__title Гарантируем высокое качество предоставляемых услуг!

    .info-block__wrap

      .info-block__item
        img(src="assets/img/info.png", alt="12лет гарантии")
      

      .info-block__item

        .info-block__subtitle Гарантийное обслуживание после выполненых работ!
        .info-block__text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget