section.materials(style="background-image: url(assets/img/materials/bg-materials.png)")

  .container

    .title.materials__title.materials__title_default РаботаEМ с&nbsp;материалами проверенных производителей

    .materials__items.swiper-container.js-materials

      - var items = ['img-1.jpg', 'img-2.png', 'img-1.jpg', 'img-2.png', 'img-1.jpg']
      
      .swiper-wrapper
        each item in items

          .materials__item.swiper-slide
            img(src=`assets/img/materials/${item}`, alt="#")

      .swiper-button-next.materials__arrow-next
      .swiper-button-prev.materials__arrow-prev