.modal#modal-1.mfp-hide

  .modal__img
    img(src="assets/img/popup/popup-icon-2.png", alt="#" class="img-responsive")
    img(src="assets/img/popup/popup-icon-1.png", alt="#" class="img-responsive")

  .modal__close.mfp-close
    img(src="assets/img/popup/close.png", alt="close" class="img-responsive")

  .title.modal__title Вызвать технолога<br>на замер

  .modal__subtitle Перезвоним вам в&nbsp;течение 15&nbsp;минут!

  .modal__form.form-modal
    form
      
      .form-modal__wrap

        label.form-modal__label
          span
            img(src="assets/img/popup/icon-name.svg", alt="Ваше имя" clas="img-responsive")
            | Ваше имя
          input(class="form-modal__input" type="text" placeholder="Введите имя")

        label.form-modal__label
          span
            img(src="assets/img/popup/icon-phone.svg", alt="Ваш телефон" clas="img-responsive")
            | Ваше телефон
          input(class="form-modal__input" type="text" placeholder="Введите ваш телефон")

        label.form__label
          input(type="submit" value="Отправить заявку" class="btn btn--yellow form__btn")
          img(src="assets/img/calculate/zabor.svg", alt="#" class="form__img-btn")

        label.form__checkbox-container.form-modal__checkbox-container Ознакомлен и согласен с <a href="#" target="_blank">политикой конфиденциальности</a>
          input(type="checkbox" checked class="form__checkbox")
          span.form__checkmark

.modal#modal-2.mfp-hide

  .modal__img
    img(src="assets/img/popup/icon-2.png", alt="#" class="img-responsive")
    img(src="assets/img/popup/icon-1.png", alt="#" class="img-responsive")

  .modal__close.mfp-close
    img(src="assets/img/popup/close.png", alt="close" class="img-responsive")

  .title.modal__title Заказать забор

  .modal__subtitle Перезвоним вам в&nbsp;течение 15&nbsp;минут!

  .modal__form.form-modal
    form
      
      .form-modal__wrap

        label.form-modal__label
          span
            img(src="assets/img/popup/icon-name.svg", alt="Ваше имя" clas="img-responsive")
            | Ваше имя
          input(class="form-modal__input" type="text" placeholder="Введите имя")

        label.form-modal__label
          span
            img(src="assets/img/popup/icon-phone.svg", alt="Ваш телефон" clas="img-responsive")
            | Ваше телефон
          input(class="form-modal__input" type="text" placeholder="Введите ваш телефон")

        label.form__label
          input(type="submit" value="Отправить заявку" class="btn btn--yellow form__btn")
          img(src="assets/img/calculate/zabor.svg", alt="#" class="form__img-btn")

        label.form__checkbox-container.form-modal__checkbox-container Ознакомлен и согласен с <a href="#" target="_blank">политикой конфиденциальности</a>
          input(type="checkbox" checked class="form__checkbox")
          span.form__checkmark