.single-product

  .container

    .single-product__title-block

      .title деревянные забор ДЛЯ ДАЧИ

      .single-product__img-icon
        img(src="assets/img/products/i4.png", alt="Сетчатые ограждения")

    .single-product__wrap.js-change-big-img

      .single-product__col

        .single-product__img-wrap

          .single-product__big.js-img-big

            img(src="assets/img/products/img-1.jpg", alt="#")

          .single-product__small.js-img-small
            - var n = 0
            while n < 4

              .single-product__img-small
                img(src="assets/img/products/img-1.jpg", alt=`${n++}`)

      .single-product__col

        .single-product__desc 
          span Описание продукции
          span.single-product__line

        .single-product__text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 

        .single-product__desc.single-product__desc_low 
          span Характеристики
          span.single-product__line

        .single-product__spec
          
          -
            var items = [
              {
                name: 'Толщина листа:',
                end: '0,4 мм'
              },
              {
                name: 'Покрытие:',
                end: 'Порошковая краска'
              },
              {
                name: 'Ширина панелей:',
                end: '1800 см'
              },
              {
                name: 'Сечение столбов:',
                end: '24 см'
              }
            ]

          each item, idx in items
            .single-product__dots
              
              .single-product__name!= item.name
              .single-product__dot
              .single-product__value!= item.end

        .single-product__price-block
          .single-product__price.single-product__price_second
            span ЦЕНА:&nbsp;
            span от <strong> 10 000 <b>руб</b></strong>

          a(href="#").single-product__calc.single-product__calc_second
            img(src="assets/img/products/qs.svg", alt="#")
            span Посчитать цену точнее
