.top-line

  .container

    .top-line__block

      p.top-line__text Установка и продажа заборов в Уфе

      .top-line__mode

        img(src="assets/img/header/clock.svg", alt="clock")

        p Режим работы: ПН-ВС / 9:00-22:00