// svg-icon
svg(xmlns="http://www.w3.org/2000/svg" class="icon-svg")

    symbol(id="vk" viewbox="0 0 39.97 39.89")
        path(class="cls-1" d="M40,31.22A8.72,8.72,0,0,1,31.29,40H8.71A8.72,8.72,0,0,1,0,31.22V8.81A8.72,8.72,0,0,1,8.71.07H31.29A8.72,8.72,0,0,1,40,8.81Z" transform="translate(-0.01 -0.07)")
        path(class="cls-2" d="M20.24,27h1.44a.88.88,0,0,0,.65-.2,1,1,0,0,0,.2-.59s0-1.93.86-2.21,2,1.9,3.21,2.73a2.29,2.29,0,0,0,1.6.5l3.2,0s1.68-.1.88-1.44A10.76,10.76,0,0,0,29.9,23c-2-1.89-1.74-1.58.68-4.85,1.48-2,2.06-3.21,1.88-3.73S31.2,14,31.2,14l-3.61,0a.82.82,0,0,0-.47.08,1,1,0,0,0-.32.39,21.25,21.25,0,0,1-1.33,2.85c-1.61,2.76-2.25,2.91-2.51,2.74-.61-.4-.46-1.61-.46-2.47,0-2.68.4-3.79-.78-4.08A6.11,6.11,0,0,0,20,13.38a7.69,7.69,0,0,0-3,.31c-.41.21-.73.66-.53.68a1.61,1.61,0,0,1,1.06.54,3.56,3.56,0,0,1,.35,1.65s.21,3.15-.5,3.54c-.49.27-1.15-.28-2.59-2.78a23.5,23.5,0,0,1-1.29-2.71,1.07,1.07,0,0,0-.3-.41,1.48,1.48,0,0,0-.55-.23L9.28,14s-.51,0-.7.24,0,.62,0,.62,2.68,6.27,5.72,9.48a7.88,7.88,0,0,0,6,2.65Z" transform="translate(-0.01 -0.07)")