extends ../_template
block variables
  - var title = ''

block content
  body

    include ../sections/top-line
    .menu-container
      include ../sections/header
      include ../sections/menu
    include ../sections/about-us-page
    include ../sections/work-about-us
    include ../sections/materials-about-us
    include ../sections/info-block
    include ../sections/certificate
    include ../sections/reviews
    include ../sections/calling
    include ../sections/request
    include ../sections/footer
    include ../sections/popup