extends ../_template
block variables
  - var title = ''

block content
  body

    include ../sections/top-line
    .menu-container
      include ../sections/header
      include ../sections/menu
    include ../sections/contacts
    include ../sections/request
    include ../sections/footer
    include ../sections/popup