extends ../_template
block variables
  - var title = ''

block content
  body
    
    .index-main

      a(href="/main.html") main
      a(href="/about.html") about
      a(href="/article.html") article
      a(href="/articles.html") articles
      a(href="/contacts.html") contacts
      a(href="/delivery.html") delivery
      a(href="/our-products.html") our-products
      a(href="/product-page.html") product-page
      a(href="/sub-product-page.html") sub-product-page