extends ../_template
block variables
  - var title = ''

block content
  body

    include ../sections/top-line
    .menu-container
      include ../sections/header
      include ../sections/menu
    include ../sections/slider
    include ../sections/products
    include ../sections/work
    include ../sections/materials
    include ../sections/calculate
    include ../sections/about
    include ../sections/calling
    include ../sections/request
    include ../sections/footer
    include ../sections/popup