extends ../_template
block variables
  - var title = ''

block content
  body

    include ../sections/top-line
    .menu-container
      include ../sections/header
      include ../sections/menu
    include ../sections/our-products
    +calculate(class="calculate_bg-white")
    include ../sections/constructor2
    include ../sections/text
    include ../sections/request
    include ../sections/footer
    include ../sections/popup