extends ../_template
block variables
  - var title = ''

block content
  body

    include ../sections/top-line
    .menu-container
      include ../sections/header
      include ../sections/menu
    include ../sections/portfolio
    include ../sections/example-portfolio
    include ../sections/reviews
    include ../sections/constructor3
    include ../sections/request
    include ../sections/footer
    include ../sections/popup