extends ../_template
block variables
  - var title = ''

block content
  body

    include ../sections/top-line
    .menu-container
      include ../sections/header
      include ../sections/menu
    include ../sections/sub-single-product
    include ../sections/calculate
    include ../sections/single-projects
    include ../sections/calling
    include ../sections/request
    include ../sections/footer
    include ../sections/popup